<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script def sync src="/requirejs/require.js" data-main="javascripts/require.config.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="sidebar">
      <div class="sidebar-overlay"></div>
      <div class="sidebar-content">
        <div class="sidebar-avatarDiv">
          <img src="images/test.jpeg" class="sidebar-avatarImage"></img>
        </div>
        <div class="sidebar-content-menu">
          <p>A NERD</p>
          <p>Coding & Sleeping</p>
          <ul class="sidebar-content-menu-ul">
            <li class="sidebar-content-menu-ul-li">
              <a href="#home" class="sidebar-content-menu-ul-li-a">Home</a>
            </li>
            <li class="sidebar-content-menu-ul-li">
              <a href="#articles" class="sidebar-content-menu-ul-li-a">Articles</a>
            </li>
            <li class="sidebar-content-menu-ul-li">
              <a href="#life" class="sidebar-content-menu-ul-li-a">Life</a>
            </li>
          </ul>
          <a href="https://github.com/cyqkeygen" class="sidebar-content-menu-a">My Github</a>
        </div>
      </div>

    </div>
    <div id="container">
      <p>效果是让我们实现了，但其扩展性那就不一定强了。示例中只显示了五页和向前向后的七个显项，但往往我们很多情况下是不知道会有多少个分页项显示出来，而且也无法确定每个分页选项的宽度是多少，也就无法确认容器的宽度。</p>
    </div>
  </body>
</html>
