<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script def sync src="/requirejs/require.js" data-main="javascripts/require.config.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="sidebar">
      <div class="sidebar-overlay"></div>
      <div class="sidebar-content">
        <div class="sidebar-avatarDiv">
          <img src="images/test.jpeg" class="sidebar-avatarImage js-avatar"></img>
        </div>
        <div class="sidebar-content-menu">
          <div class="sidebar-content-menu-desp">A NERD</div>
          <div class="sidebar-content-menu-desp">Coding & Sleeping</div>
          <ul class="sidebar-content-menu-ul">
            <li class="sidebar-content-menu-ul-li">
              <a href="#home" class="sidebar-content-menu-ul-li-a">Home</a>
            </li>
            <li class="sidebar-content-menu-ul-li">
              <a href="#articles" class="sidebar-content-menu-ul-li-a">Articles</a>
            </li>
            <li class="sidebar-content-menu-ul-li">
              <a href="#life" class="sidebar-content-menu-ul-li-a">Life</a>
            </li>
          </ul>
          <a href="https://github.com/cyqkeygen" class="sidebar-content-menu-a">My Github</a>
        </div>
      </div>

    </div>
    <div id="container">

    </div>
  </body>
</html>
