<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script def sync src="/requirejs/require.js" data-main="javascripts/require.config.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="sidebar">sidebar</div>
    <div id="container">container</div>
  </body>
</html>
